<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413217640465-k85bq9fh9so4drc1lj4jg72sjp3fhmlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413217640465-k85bq9fh9so4drc1lj4jg72sjp3fhmlr</string>
	<key>API_KEY</key>
	<string>AIzaSyCG1OL4FaoM3VGLGtCqM8Kzq76-Xq7EXwU</string>
	<key>GCM_SENDER_ID</key>
	<string>413217640465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.mimosa.sermon</string>
	<key>PROJECT_ID</key>
	<string>light-84b6d</string>
	<key>STORAGE_BUCKET</key>
	<string>light-84b6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413217640465:ios:d6684da3bfcf83b8a061b0</string>
	<key>DATABASE_URL</key>
	<string>https://light-84b6d.firebaseio.com</string>
</dict>
</plist>