<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018986176366-j0ruij5l6jgq3b4sc8c5lq8s529a68l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018986176366-j0ruij5l6jgq3b4sc8c5lq8s529a68l1</string>
	<key>API_KEY</key>
	<string>AIzaSyBot6b6ad3lgGhDPNP43xnflSw8PxIJLwM</string>
	<key>GCM_SENDER_ID</key>
	<string>1018986176366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enjoyalot.flutterBbs</string>
	<key>PROJECT_ID</key>
	<string>flutter-bbs</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bbs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018986176366:ios:de2585a8156f5b89046b7f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-bbs.firebaseio.com</string>
</dict>
</plist>